.main_heading{
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.384);
}

.users_page{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  
}

.users_card{
  width: 20%;
  flex-basis: 33.33%;
  display: flex;
  justify-content: center;  
}

.single_card{
  width: 90%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.329);
  padding: 1rem;
  border-radius: 0.21rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

.img_div{
  overflow: hidden;
  border-radius: 50%;
}

.img{
  width: 95%;
  height: 95%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.493) 1.95px 1.95px 2.6px;
  
}

.single_card h4{
  font-size: 1rem;
}
.single_card p{
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.paginate{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.paginate li{
list-style: none;
margin: 0 0.5rem;
}

.paginate li:hover{
cursor: pointer;
}


/* @media screen and (min-width: 1299px) { 
  
  .users_card{
    flex-basis: 33.33%;    
  }
  
} */

@media screen and (min-width:969px) and (max-width:1300px){
  
  .users_card{
    flex-basis: 33.33%;    
  }
 
}

 
@media screen and (min-width:770px) and (max-width:970px){
  .users_card{
    flex-basis: 50%;    
  }
 
}  
 
 
@media screen and (max-width:769px){
   
  .users_card{
    flex-basis: 50%;   
  }

  .single_card{
    width: 98%;
  }
  
  .single_card h4{
    font-size: 0.8rem;
  }
  .single_card p{
    display: flex;
    align-items: center;
    font-size: 0.55rem;
  }
 
 
 }



